# Config file for ESP32 DSP Processor

menu "ESP32 DSP processor config"
    config USE_DSP_PROCESSOR
        bool "enable signal processing on audio data"
        default false
        help
            enable audio filtering before queueing it to player component

    config SNAPCLIENT_MIX_LR_TO_MONO
        bool "mix stereo audio to mono"
        default false
        depends on USE_DSP_PROCESSOR
        help
            mix stereo audio (left and right channel) to mono and play it on the left AND the right channel
    
    config SNAPCLIENT_SOURCE_L
        bool "play left channel"
        default false
        depends on USE_DSP_PROCESSOR
        help
            selects left channel
    
    config SNAPCLIENT_SOURCE_R
        bool "play right channel"
        default false
        depends on USE_DSP_PROCESSOR
        help
            selects right channel        
            
    choice SNAPCLIENT_DSP_FLOW
        prompt "DSP flow"
        default SNAPCLIENT_DSP_FLOW_STEREO
        depends on USE_DSP_PROCESSOR
        help
            Select the DSP flow to use.

        config SNAPCLIENT_DSP_FLOW_STEREO
            bool "Stereo flow"

        config SNAPCLIENT_DSP_FLOW_BASSBOOST
            bool "Bassboost flow"

        config SNAPCLIENT_DSP_FLOW_BIAMP
            bool "Bi-Amp flow"

        config SNAPCLIENT_DSP_FLOW_BASS_TREBLE_EQ
            bool "Bass Treble EQ"
    endchoice

    config USE_BIQUAD_ASM
        bool "Use optimized asm version of Biquad_f32"
        default y if IDF_TARGET_ESP32
        default n
        depends on USE_DSP_PROCESSOR
        help
            Asm version 2 x speed on ESP32 - not working on ESP32-S2

    config SNAPCLIENT_USE_SOFT_VOL
        bool "Use software volume"
        default false
        depends on USE_DSP_PROCESSOR
        help
            Use software volume mixer instead of hardware mixer.

endmenu
